html{
    cursor: url(imagens/machado.png) 30 30, auto;
}

body {
    background-image: url(imagens/cenario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

img {
    margin-top: 10%;
}